{% extends "layout.html" %}

{% block title %}Book{% endblock %}
{% block content %}

<ul>
    {% for v in isbn_f %}
    <h2>{{v[1]}}</h2>
    <br>
    <li>{{v[0]}}</li>
    <li>{{v[1]}}</li>
    <li>{{v[2]}}</li>
    <li>{{v[3]}}</li>
    {% endfor %}
</ul>

<form action="/thanks" method='POST'>
    <label for="book_rating">Your Rating:</label>
    <select name="book_rating">
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
    </select>
    <br>
    <textarea name="comment" form="usrform" placerholder="Enter Text Here..."></textarea>
    <br>
    <input type="submit">
</form>

{% endblock %}